html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 60px;
}
a {
	cursor:pointer;
	text-decoration: none !important;
}
.container .text-muted {
  margin: 20px 0;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}
.placar {
	font-size: 86px;
}
.width {
	width: 100%;
}
